html, body {
    width: 100%;
    overflow-x: clip;
    background-color: #242424;
}

h1 {
    text-align: center;
    color: white;
    font-size: 5vw;
    margin: 1.5vw;
}

.grid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    text-align: center;
    color: white;
}

.grid * {
    margin: .5vw;
}

.cylinder {
    width: 20vw;
    height: 28vw;
    border-radius: 100% / 80px;
    background: 
      radial-gradient(50% 40px at 50% 40px, #0003 99.99%, #0000 0),
      radial-gradient(50% 40px at 50% calc(100% - 40px), #fff3 99.99%, #0000 0),
      lightgray;
    margin: auto;
    margin-bottom: 1.5vw;
    transition: background-image 250ms;
}

.cylinder:hover {
    /* background: 
      radial-gradient(50% 40px at 50% 40px, #0003 99.99%, #0000 0),
      radial-gradient(50% 40px at 50% calc(100% - 40px), #fff3 99.99%, #0000 0),
      linear-gradient(magenta, blue); */
      background-image:
      radial-gradient(50% 40px at 50% 40px, #0003 99.99%, #0000 0),
      radial-gradient(50% 40px at 50% calc(100% - 40px), #fff3 99.99%, #0000 0),
      linear-gradient(magenta, blue);
      
}

.viewCapsule {
    margin: 5vw auto;
}

.header {
    color: white;
    text-align: center;
}

h2 {
    font-size: 4vw;
    margin: 0;
}

h3 {
    font-size: 3vw;
    margin: 0;
}

.capsuleStuff {
    display: grid;
    width: 90%;
    margin: 2vw auto;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr;
}

.capsuleText {
    background-color: bisque;
    padding: 1vw;
    border-radius: 10px;
}

.capsuleImage {
    background-color: lightcyan;
    padding: 1vw;
    border-radius: 10px;
}